vids/full/vid1.mp4 filter=lfs diff=lfs merge=lfs -text
vids/full/vid3.mp4 filter=lfs diff=lfs merge=lfs -text
vids/full/vid2.mp4 filter=lfs diff=lfs merge=lfs -text
vids/full/vid6.mp4 filter=lfs diff=lfs merge=lfs -text
