#screen-2 {
    transform-origin: center left;
    transform: rotate(-5deg) perspective(100px) rotateY(1.5deg) rotateX(4deg);
    position: relative;
    top: 24%;
    left: 5%;
    height: 32%;
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(-5px 5px 4px #00000050);
    border: 1px solid black;
}

.s2 {
    flex: 0 0 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#home-container {
    position: relative;
    text-align: center;
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home {
    position: relative;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading-message {
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#home-message {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#home-titles {
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 50%;
}

#vid-info-container {
    width: 100%;
    display: none;
    opacity: 0;
    flex-direction: column;
    flex: 0 0 30%;
    margin-bottom: 10%;
}

.vid-info {
    flex: 0 0 20%;
    font-size: 50%;

}

#ipod-info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ipod-info * {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#album-art {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#album-art img {
    height: 80%;
    width: auto;
    object-fit: contain;
    /* filter: drop-shadow(-5px 5px 4px #00000050); */
}

#song-info {
    flex: 3;
    display: flex;
    align-items: flex-start;
    margin-left: 1%;
    text-wrap: nowrap;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent 3%, red 6%, red 75%, transparent 95%);
    mask: linear-gradient(90deg, transparent 3%, red 6%, red 75%, transparent 95%);
}

.song-info-container {
    font-size: 100%;
}

#song-info * {
    align-items: flex-start;
    text-align: left;
}

.song-info {
    margin-left: 4%;
    font-size: 100%;
}

#prog-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prog-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#open-controls {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: .6em; */
}

#controls-button {
    font-size: 100%;
    padding: .3em;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}
